body > table{
    width: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-one,
.section-two{
    flex: 1;
}
/* .section-two{
    background-color: red;
} */
#myForm{
    flex: 1;
}
#myTable{
    flex: 1;
    width: 100%;
}
table{
    border-collapse: collapse;
    text-align: center;

}
table.list{
    width: 100%;
    text-align: center;
}
table.list td{
    text-align: center;
}
td,th{
    border: 1px solid #dddd;
    text-align: left;
    padding: 8px;
}
tr{
    height: 10px;
}
tr:nth-child(even), table.list thead>tr{
    background-color: #3324bb;
}
input[type=text], input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #77bd07;
    box-sizing: border-box;
}
input[type=submit]{
    width: 30%;
    background-color: #dddddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

form{
    background-color: #D6AB81;
    padding: 10px;
}

form div.form-action-buttons{
    text-align: center;

}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000;
    margin-right: 4px;
}

label.vaidation-error{
    color: rgb(217, 255, 0);
    margin-left: 10px;
}

.hide{
    display: none;
}

.debbie{
    color: #000;
}

#ife{
    color: brown;

}
.validation{
    color: red;
    font-style: italic;
}





































